.image-box {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10%;
}

// Background images on large divs
.imaged {
  align-self: stretch;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &.full-page {
    margin: -2.5% -5% -2.5% 5%;
  }
}
