body {
  margin: 0;

  &, & > .ember-view {
    @include flex(column, nowrap, stretch, flex-start);

    min-height: 100vh;
  }
}

main {
  @include flex(column, nowrap, stretch, flex-start);

  flex: 1 0 auto;
  padding: 2.5% 5%;
}

.content-dialog {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}

.dialog-box {
  background: #fff;
  border-radius: 5px;
  margin: 7.5%;
  max-width: 600px;
  padding: 2.5%;
  width: 100%;
}
