html {
  font-family: $body-fonts;

  @media (max-width: $screen-xx-max) {
    font-size: 14px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-fonts;
}

.capitalize {
  text-transform: capitalize;
}

.subtitle {
  color: $muted-text-color;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

hr {
  border: none;
  border-top: 1px solid lighten($muted-text-color, 25%);
  margin: 30px 0;
}

@include link($brand-primary);

hr.spacer {
  background: none;
  border: none;
  display: block;
  height: 1px;
  margin: 20px 0;
  width: 100%;
}

.stat {
  @include flex(column, nowrap);

  padding: 5px 10px;

  @media (max-width: $screen-xs-max) {
    font-size: 0.75em;
  }

  .number {
    font-size: 1.85em;
  }

  .label {
    color: $muted-text-color;
    font-family: $header-fonts;
    font-size: 0.85em;
    text-transform: uppercase;
  }
}

@each $name, $color in $brand-colors {
  .text-#{$name} {
    color: $color;
  }
}
